# Testing and Debuging

In [1]:

from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import psycopg2

In [2]:
%load_ext sql

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')
LOG_DATA = config.get('S3', 'LOG_DATA') 
ARN = config.get('IAM_ROLE', 'ARN') 
LOG_JSONPATH = config.get('S3', 'LOG_JSONPATH')
SONG_DATA = config.get('S3', 'SONG_DATA')
CREDENTIALS = 'aws_iam_role=' + ARN.replace("'","")

In [4]:
print(*config['CLUSTER'].values())

'dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com' 'dwh' 'dwhuser' 'Passw0rd' 5439

In [5]:
DWH_DB_USER = 'dwhuser'
DWH_DB_PASSWORD, DWH_ENDPOINT = 'Passw0rd' , 'dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com'
DWH_PORT,DWH_DB = 5439, 'dwh'
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [6]:
table_names = ['staging_events', 'staging_songs', 'songplay', 'sparkify_user', 'song_info', 'artist_details', 'start_time']

In [7]:
%%sql
SELECT * FROM songplay
LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(5, datetime.datetime(2018, 11, 21, 1, 48, 56), '97', 'paid', 'SOJNJGQ12A6D4F62BC', 'ARMYDZ21187B9A550C', 671, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (13, datetime.datetime(2018, 11, 29, 16, 58, 11), '16', 'paid', 'SORWNSF12A6D4FCCA7', 'ARW19E01187B9AEB8D', 983, 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

In [11]:
%%sql
SELECT * FROM sparkify_user
LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('3', 'Isaac', 'Valdez', 'M', 'free'),
 ('88', 'Mohammad', 'Rodriguez', 'M', 'paid')]

In [12]:
%%sql
SELECT * FROM song_info
LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', None, Decimal('269.58321')),
 ('SOBKPPQ12A58A78407', 'Hunting By Echo', 'AR7RUDQ1187B98C147', 2001, Decimal('274.49423'))]

In [15]:
%%sql
SELECT * FROM artist_details
LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('AR01S3D1187FB50A53', 'Charlie Parr', 'Minnesota', None, None),
 ('AR01WHF1187B9B53B8', 'Lullatone', 'Nagoya, Japan', None, None)]

In [14]:
%%sql
SELECT * FROM start_time
LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cnbxubmok08z.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 16, 35), 16, 2, 44, 11, 2018, 5)]